---
title: 01 - an Tooltip
url: 1-tooltip.html
---


<section class="wrapper">
    <div class="container__center">
        <a href="#0" class="btn-download" role="button">
            <span class="btn-download--overside-hidden">
               <em class="btn-download__text--trigger">Download</em>
               <i class="btn-download__icon" aria-hidden="true" style=""></i> <!-- Only render by the browser without affecting on other devices this content -->
           </span>
        </a>
    </div>
</section>
