---
title: 02 - Transformations
url: 2-transformations.html
---

<!-- With CSS transformations -> add styling transformed in 2d or 3d -->
<!-- Applying transition over change of css property > better performance > hardware accelerated > means browse expects instant changes to happen for that element by applying transition -->

<div class='block__scale'></div>

<div class='block__vertical'></div>

<div class='block__horizontal'></div>

<div class='block__move-right'></div> <!-- move default right -->

<div class='block__move-left'></div>

<div class='block__move-bottom'></div>

<div class='block__move-bottom-right-diagonal'></div>

<div class='block__rotate-45'></div> <!-- move default right -->

<div class='block__skew'></div> <!-- move default bottom to right -->

<!-- ------------------------------ -->

<ul class="block-list">
    <li class="block-item"></li>
    <li class="block-item"></li>
    <li class="block-item"></li>
</ul>



