---
title: 03 - Morphing Menu
url: 3-morphing-menu.html
---

<div class="container__center-center">
    <a href="" role="button" class="menu-trigger">
        menu <span class="line"></span>
    </a>
</div>


